.textbox body:first-of-type{
  display: table;
  height: 20mm;
  overflow: visible;
}

.textbox body:first-of-type > div{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 100%;
  height: 100%;
  font-size: 5mm;
  overflow: visible;
}

.textbox{
  stroke: black;
  stroke-width: 1px;
  overflow: visible;
  shape-rendering: crispEdges;
}

svg:not(:root) {
  overflow: visible;
}

.assoz {
  fill: grey;
}
